
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        Username: {{user.profile.username}}<br><br>
        Full Name: {{user.profile.full_name}}<br><br>
        Address: {{user.profile.address_1}}<br><br>
        City: {{user.profile.city}}<br><br>
        Country: {{user.profile.country}}<br><br>
        Zipcode: {{user.profile.zipcode}}<br><br>
        Phone: {{user.profile.phone}}<br><br>
        
    </div>
    <a href="{% url 'change_profile' %}"><button type="submit" class="btn btn-primary btn-sm">Edit Profile</button></a>
</div>


{% endblock content %}